annotated-types==0.7.0
asgiref==3.9.1
bcrypt==4.3.0
blinker==1.9.0
click==8.2.1
colorama==0.4.6
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy==1.16.1
mypy_extensions==1.1.0
pathspec==0.12.1
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
typing-inspection==0.4.1
typing_extensions==4.14.1
Werkzeug==3.1.3
