affine==2.4.0
annotated-types==0.7.0
asgiref==3.9.1
attrs==25.3.0
bcrypt==4.3.0
black==25.1.0
blinker==1.9.0
certifi==2025.7.14
click==8.2.1
click-plugins==1.1.1.2
cligj==0.7.2
colorama==0.4.6
Flask==3.1.1
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
llvmlite==0.44.0
MarkupSafe==3.0.2
mypy==1.17.0
mypy_extensions==1.1.0
narwhals==1.48.0
nptyping==2.5.0
numba==0.61.2
numpy==1.26.4
opencv-python==4.11.0.86
packaging==25.0
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.3.8
plotly==6.2.0
pydantic==2.11.7
pydantic-extra-types==2.10.5
pydantic_core==2.33.2
pyparsing==3.2.3
rasterio==1.4.3
scikit-learn==1.7.1
scipy==1.16.0
threadpoolctl==3.6.0
typing-inspection==0.4.1
typing_extensions==4.14.1
Werkzeug==3.1.3
